@font-face {
    font-family: ImPerfect;
    src: url(../assets/ImPerfect23.otf);
}

@font-face {
    font-family: Fira Code;
    src: url(../assets/FiraCode-Regular.ttf);
}

body {
    overflow: hidden;
}

.bodyBg1 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 9, 64, 1) 100%);

}

.lotus {
    background-image: url(../assets/undefined\ -\ Imgur.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.red {
    color: red;
}

.navbarHeight {
    height: 150px;
}

.txtCenter {
    text-align: center;
}

.blackBg {
    background-color: black;
}

.white {
    color: white;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.imPerfect {
    font-family: ImPerfect;
}

.titleSize {
    font-size: 96px;
}

.none {
    display: none;
}

.modalHeader {
    font-size: 55px;
}

.modal-content {
    width: 660px;
    background-color: #292727;
}

.firaCode {
    font-family: Fira Code;
}

.olFontSize {
    font-size: 24px;
    line-height: 50px;
}

.olPadding {
    padding-left: 80px;
}

.samuraiSize {
    width: 50%;
}

.center {
    display: flex;
    justify-content: center;
}

.samurai1Padding {
    padding-right: 15%;
}

.samurai2Padding {
    padding-left: 15%;
}

.cyan {
    color: #01E2FE;
}

.yellow {
    color: #FEC601;
}

.fightBtn {
    background: rgb(106, 0, 98);
    background: linear-gradient(90deg, rgba(106, 0, 98, 1) 0%, rgba(255, 219, 93, 1) 100%);
    border: none;
    border-radius: 100px;
    width: 290px;
    height: 86px;
    font-size: 48px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.vs {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.resultScreen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.absolute {
    position: absolute;
}

.between {
    display: flex;
    justify-content: space-between;
}

.optionsDiv{
    width: 30.5vw;
}

.choose {
    font-size: 48px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.message {
    font-size: 24px;
    padding-top: 70px;
}

.samurai {
    font-size: 24px;
    padding-top: 24px;
}

.exitBtn {
    top: 70%;
    left: 55%;
    z-index: 2;
    border: none;
    border-radius: 100px;
    width: 406px;
    height: 112px;
    font-size: 48px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
}

.restartBtn {
    top: 70%;
    left: 25%;
    z-index: 2;
    border: none;
    border-radius: 100px;
    width: 406px;
    height: 112px;
    font-size: 48px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
}

.score {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 48px;
}