@font-face {
    font-family: ImPerfect;
    src: url(../assets/ImPerfect23.otf);
}

.navbarHeight {
    height: 150px;
}

.txtCenter {
    text-align: center;
}

.blackBg {
    background-color: black;
}

.white {
    color: white;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.imPerfect {
    font-family: ImPerfect;
}

.titleSize {
    font-size: 96px;
}